<div class="container-fluid">
    <div class="custom-card">

        <img src="../../../../assets/images/Angular_Logo-removebg-preview.png" alt="" srcset="">
        <hr>
        <!-- <form [formGroup]="loginForm" (ngSubmit)="signinWithEmail()">
            <div class="form-group">
                <input 
                    type="email" 
                    class="form-control"
                    placeholder=" Email "
                    formControlName="email"
                >
            </div>
    
            <div class="form-group">
                <input 
                    type="password" 
                    class="form-control"
                    placeholder=" Password "
                    formControlName="password"
                >
            </div>
    
            <button class="btn btn-block btn-primary">Sign in</button>
        </form> -->

        

        <button class="btn btn-block google-sign-in" (click)="signInWithGoogle()">
            <img src="../../../../assets/images/Google__G__Logo.svg.webp" alt="google">
            <span>login with gmail</span>
        </button>

        <!-- <div class="sign-up">
            <span>Don't have and account?</span>
            <span class="sign-up-link" routerLink="sign-up">Sign Up</span>
        </div> -->
    </div>
    
</div>