<div class="container-fluid">
    <div class="custom-card">
        <div class="form-group">
            <input 
                type="email" 
                class="form-control"
                placeholder="Enter Email Address"
            >
        </div>

        <div class="form-group">
            <input 
                type="password" 
                class="form-control"
                placeholder="Password"
            >
        </div>

        <button class="btn btn-block btn-primary" (click)="signinWithEmail()">Sign in</button>

        <p class="horizontal-line-text">
            <span>or</span>
        </p>

        <button class="btn btn-block google-sign-in" (click)="signInWithGoogle()">
            <img src="../../../../assets/images/Google__G__Logo.svg.webp" alt="google">
            <span>login with google</span>
        </button>
    </div>
</div>