//auto complete lib module
.dashboard {
  position: relative;
  top: 100px;
  padding: 0 5%;


  h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1rem;
    padding-bottom: 1rem;
    

  }

  h3, th {
    color: #303841;
  }

  td {
    color: #3A4750;
  }
}
.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;

    .not-found{
      color: #EB1D36;
    }
  }
  .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    line-height: 45px;
    height: 45px;
    padding: 0 16px;
    text-align: left;
    max-width: 100%;
    box-sizing: border-box;
  }
  span {
    margin-left: 5px;
  }